<div class="row" >
    <div class="col-12 text-end">
        <button class="btn btn-success"  (click)="addNew()">Add New</button>
        <button class="btn btn-success"  (click)="portColUpdate()">Bulk Update</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Airport Code</th>
                    <th>Airport Name</th>
                    <th>Airport City</th>
                </tr>
            </thead>
            <tbody>
                @for(port of airportList ; track port.cityName ; let sr = $index){
                    <tr>
                        <td>{{sr+1}}</td>
                        <td><input type="text" [(ngModel)]="port.airportCode" placeholder="Enter airport code"></td>
                        <td><input type="text" [(ngModel)]="port.airportName" placeholder="Enter airport name"></td>
                        <td><input type="text" [(ngModel)]="port.cityName" placeholder="Enter city name"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

