<div class="row" >
    <div class="col-12 text-end">
        <button class="btn btn-success"  routerLink="new-flight">Add New</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Airline</th>
                    <th>Flight No</th>
                    <th>Arrival Airport</th>
                    <th>Departure Airport</th>
                    <th>Travel Date</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- @for(){
                    <tr>
                        <td>{{sr+1}}</td>
                        <td><input type="text" [(ngModel)]="port.airportCode" placeholder="Enter airport code"></td>
                        <td><input type="text" [(ngModel)]="port.airportName" placeholder="Enter airport name"></td>
                        <td><input type="text" [(ngModel)]="port.cityName" placeholder="Enter city name"></td>
                    </tr>
                } -->
            </tbody>
        </table>
    </div>
</div>
